@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900;
    font-family: 'Montserrat', sans-serif;
  }
}

@theme {
  --color-brand-navy: #051025;
  --color-brand-blue: #0A1F44;
}

.artistic-s {
  font-style: italic;
  font-weight: bold;
}

.graffiti-bridge {
  font-family: 'Brush Script MT', cursive;
  font-weight: bold;
}
